@mixin for-size($range) {
  $mobile-min: 479px;
  $mobile: 480px;
  $tablet: 768px;
  $tablet-max: 1199px;
  $desktop: 1200px;

  @if $range == mobile-only {
    @media (max-width: #{$mobile - 1}) {
      @content;
    }
  } @else if $range == mobile-min {
    @media (max-width: $mobile-min) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == tablet-max {
    @media (max-width: $tablet-max) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

// // usage
// .my-box {
//   padding: 10px;

//   @include for-size(desktop-up) {
//     padding: 20px;
//   }
// }
