$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-color: #ffffff;
$background-color: #2f303a;
$backround-color-2: #e5e5e5;
$backround-color-3: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
