.hero {
  // display: none;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-color: $background-color;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url(../images/header.jpg);

  &-title {
    padding-top: 118px;
    margin-bottom: 30px;

    font-weight: bold;

    font-size: 26px;

    line-height: 42px;
    letter-spacing: 0.06em;
    color: $primary-color;
    text-align: center;

    @include for-size(desktop) {
      padding-top: 200px;
      font-weight: normal;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
